<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="MySuite">
    <test name="LoginTests">
        <classes>
            <class name="login.LoginTest"/>
        </classes>
    </test>
    <test name="AddToCartTests">
        <classes>
            <class name="addToCart.AddToCartTest"/>
        </classes>
    </test>
    <test name="EndToEndScenariosTests">
        <classes>
            <class name="endToEndScenario.EndToEndScenarioTest"/>
        </classes>
    </test>
    <test name="InvalidScenariosTests">
        <classes>
            <class name="invalidScenario.InvalidScenariosTest"/>
        </classes>
    </test>
    <test name="TotalPriceTests">
        <classes>
            <class name="totalPrice.TotalPriceTest"/>
        </classes>
    </test>




</suite>
